<div class="p-3">
  <table class="table table-dark table-striped table-hover rounded">
    <thead>
      <tr class="row">
        <th class="col-1">Done</th>
        <th class="col-5">Task</th>
        <th class="col-2">Priority</th>
        <th class="col-2">Due date</th>
        <th class="col-1">Edit</th>
        <th class="col-1">Delete</th>
      </tr>
    </thead>
    <tbody>
      <app-list-row
        *ngFor="let task of list"
        [id]="task.id"
        [name]="task.name"
        [priority]="task.priority"
        [dueDate]="task.dueDate"
        (editTaskPressed)="editTaskPressedTransfer($event)">
      </app-list-row>
    </tbody>
  </table>

</div>
